.gemstone_container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.single_item{
    text-align: center;
}
.single_item img{
    width: 200px;
    height: 200px;
}
.gemstone_title {
    margin: 50px 0;
}

.react-multiple-carousel__arrow {
    z-index: 1 !important;
    outline: none;
    border: none;
}

