.items {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.single_iteme{
    align-items: center;
    text-align: center;
}
.single_iteme img{
    width: 200px;
    height: 200px;
}
.items_title {
    margin: 50px 0;
}



.flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 50px;
  }
  
  .industrial_material_image {
    width: 100%;
    height: auto; 
    justify-self: center;
    align-self: center;
    transition: transform 0.5s;
  }

  .flex-container img:hover {
        transform: scale(1.1);
  }

.industrial_material_container{
    align-items: center;
    text-align: center;
}

