.search-bar {
    align-items: center;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-out, box-shadow 0.3s ease-out;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    padding-top: 6vh;
}
.Search_close {
    padding-right: 29px;
}

.search_search_icone {
    display: flex;
}
.search_search_icone div {
    padding-right: 20px;
}

.search-bar.active {
    top: -100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}



